h1{background:  #00ff00; padding:20px;}

 
 body {
    background-image:url("01.jpg");
    background-size: 100%,100%,100%,100%;
  background-position: top 0px right 0px , top 470px right 1272px, top 10px right -120px;
  background-repeat:repeat,no-repeat,no-repeat,no-repeat;
  background-attachment: fixed;
  margin-bottom: 120px;
  }
  